<!DOCTYPE html>

<head>
    <title>About</title>
    <link rel="icon" href="../../images/cloudy.png">
    <link rel="stylesheet" href="../../css/style.css">
    <script src="./script/script.js"></script>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <div class="main-content-2">
            <img class="portrait" src="../../images/wheather.png" alt="wheather">
            <p>Welcome to my weather application!
                Your go-to source for straightforward
                weather updates. This user-friendly app provides
                real-time forecasts, ensuring
                you're equipped with the latest information to plan your day. Whether
                you're at home or on the go, trust us to deliver accurate weather predictions with
                simplicity at its core. Thank you for letting us be part of your daily routine.
            </p>
        </div>
    </div>

    {{>footer}}
</body>

</html>