<!DOCTYPE html>
<head>
  <title>Help</title>
  <link rel="icon" href="../../images/cloudy.png">
<link rel="stylesheet" href="./css/style.css">
<script src="./script/script.js"></script>
</head>
<body>
  <div class="main-content">
  {{>header}}
  {{helpText}}
  </div>
  {{>footer}}
</body>  
</html>