<!DOCTYPE html>

<head>
     <title>Weather App</title>
     <link rel="icon" href="../../images/cloudy.png">
     <link rel="stylesheet" href="../../css/style.css">
</head>

<body>
     <div class="main-content">
          {{>header}}
          <h4>Use this site to get the current Wheather!</h4>
          <p>Enter a Location</p>
          <form>
               <input placeholder="Location">
               <button>Search</button>
          </form>
          <p id="message-1"></p>
          <p id="message-2"></p>
     </div>
     {{>footer}}
     <script src="../../script/script.js"></script>
</body>

</html>